*
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}
// body
// {
//     background-image: url("../../public/images/lawyer.jpg");
//     background-size: cover;
//     height: 100vh;
// }