header
{
    width: 100%;
    height: 5em;
    background-color: $blue;
    border-bottom: 4px solid $purple ;

    nav
    {
        height: 100%;
        width: 100%;

        >ul 
        {
            @include flex($just: space-between);
            height: 100%;

            li 
            {
                margin-left: 2em;
                margin-right: 2em;

                a 
                {
                    font-size: 1.3em;
                    color: $purple;

                    &:hover
                    {
                        color: $tea;
                    }
                }
            }
        }
    }
}